<div class="card mt-5">
    <div class="card-header">
        User Management
    </div>

    <div class="card-body table-responsive">
        <div class="mb-3">
            <button class="btn btn-primary btn-sm" (click)="selectUser()">Create User</button>
        </div>

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.active ? 'Active' : 'Inactive' }}</td>
                    <td class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary btn-sm me-2" (click)="selectUser(user)">Edit</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteUser(user._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form class="card mt-3" *ngIf="selectedUser" (ngSubmit)="selectedUser._id ? updateUser(selectedUser) : createUser(selectedUser)">
    <div class="card-body">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Username:</label>
            <input class="form-control" [(ngModel)]="selectedUser.username" name="name" required>
        </div>
    
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input class="form-control" [(ngModel)]="selectedUser.email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Password:</label>
            <input class="form-control" [(ngModel)]="selectedUser.password" name="password" type="password" required>
        </div>
        
        <button class="btn btn-primary" type="submit">{{ selectedUser._id ? 'Update' : 'Create' }} User</button>
    </div>
</form>
